.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.page {
  display: none;
  width: 100%;
  height: 100%;
  background: url(../images/page-bg1.jpg) no-repeat center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.page-2 {
  display: flex;
}
.page-2 .page-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.14rem;
  width: 9.84rem;
  height: 15.053333rem;
  background: url(../images/page-cont-bg2.png) no-repeat center;
  background-size: cover;
}
.page-2 .cont-box {
  text-align: center;
  font-size: 0.346667rem;
  color: #656dab;
}
.page-2 .cont-box .box-data {
  color: #8f693e;
  background-color: #fff7a2;
}
.page-2 .cont-box .box-text {
  font-size: 0.346667rem;
}
.page-2 .cont-box .dashed-line {
  display: inline-block;
  width: 7.733333rem;
  border-top: dashed 1px #8b9ebb;
}
.page-2 .cont-box .dashed-line-44-44 {
  margin: 0.5rem 0;
}
.page-2 .cont-box .dashed-line-44-0 {
  margin: 0.5rem 0 0;
}
.page-2 .cont-box .icon-index {
  display: inline-block;
  width: 0.626667rem;
  height: 0.626667rem;
}
.page-2 .cont-box .icon-index1 {
  background: url(../images/page-21/no_1.png) no-repeat center;
  background-size: 100%;
}
.page-2 .cont-box .icon-index2 {
  background: url(../images/page-21/no_2.png) no-repeat center;
  background-size: 100%;
}
.page-2 .cont-box .p-text {
  display: flex;
  align-items: center;
  height: 0.626667rem;
}
.page-2 .cont-box .p-text .icon-index {
  margin-top: -0.083333rem;
  margin-right: 0.166667rem;
}
.page-2 .cont-box .p-line {
  width: 4.5rem;
  height: 0;
  border-top: 1px dashed #8b9ebb;
  margin: 0.466667rem 0;
}
.page-2 .box0 .top-tiem {
  display: inline-block;
  padding: 0.08rem 0.453333rem 0.04rem;
  margin-top: 0.493333rem;
  font-size: 0.506667rem;
  font-weight: bold;
}
.page-2 .box0 .top-title {
  margin-top: 0.133333rem;
  font-size: 0.506667rem;
  font-weight: bold;
}
.page-2 .box0 .box-horizontal {
  display: flex;
}
.page-2 .box0 .box-horizontal .hor-left {
  padding-top: 0.1rem;
  width: 4.433333rem;
  height: 6.653333rem;
}
.page-2 .box0 .box-horizontal .hor-right {
  padding-top: 0.75rem;
}
.page-2 .box0 .box-horizontal .hor-right p {
  line-height: 0.6rem;
}
.page-2 .box0 .box-horizontal .hor-right .text-dashed-line {
  width: 80%;
  display: inline-block;
  margin: 0.08rem 0;
  border-top: dashed 1px #b1b1b1;
}
.page-2 .box1 .box1-top {
  position: relative;
  overflow: hidden;
}
.page-2 .box1 .box1-top .top-text {
  float: left;
  margin-top: 1.466667rem;
  width: 6.4rem;
  margin-left: 0.466667rem;
}
.page-2 .box1 .box1-top .top-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.666667rem;
  height: 4.36rem;
}
.page-2 .box1 .box1-bottom {
  position: relative;
  overflow: hidden;
}
.page-2 .box1 .box1-bottom .bottom-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.466667rem;
  height: 4.92rem;
}
.page-2 .box1 .box1-bottom .bottom-text {
  float: right;
  width: 5.2rem;
}
.page-2 .box1 .box1-bottom .bottom-text .p-line2 {
  margin: 0.293333rem 0;
}
.page-2 .box1 .bottom-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.833333rem;
}
.page-2 .box1 .bottom-notice .pic-notice {
  width: 0.293333rem;
  height: 0.293333rem;
  margin-right: 0.08rem;
  margin-top: -0.053333rem;
}
.page-2 .box1 .bottom-notice .notice {
  font-size: 0.32rem;
  color: #70a2eb;
}
.page-2 .box2 .cont {
  width: 9.573333rem;
  height: 10.106667rem;
  padding: 2.666667rem 1rem 0 0.7rem;
  margin-top: 1.573333rem;
  margin-left: 0.22rem;
  background: url(../images/page-23/cont-bg.png) no-repeat center;
  background-size: contain;
}
.page-2 .box2 .box2-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.333333rem;
}
.page-2 .box2 .box2-item p,
.page-2 .box2 .box2-item span {
  font-size: 0.32rem;
  font-weight: bold;
  color: #4d5981;
}
.page-2 .box2 .box2-item .item-left {
  display: flex;
  align-items: center;
}
.page-2 .box2 .box2-item .item-left .left-icon {
  width: 0.733333rem;
  height: 0.72rem;
  margin-right: 0.146667rem;
}
.page-2 .box2 .box2-item-more {
  margin-bottom: 1.466667rem;
}
.page-2 .box2 .box2-item-more p {
  min-width: 2.133333rem;
  display: flex;
  justify-content: center;
  margin-top: -0.3rem;
  font-weight: bold;
}
.page-2 .box2 .box2-item-text {
  margin-bottom: 0.3rem;
}
.page-2 .box2 .box2-item-text-last {
  margin-top: -0.3rem;
}
.page-2 .box2 .box2-item-text-last p {
  min-width: 2.133333rem;
  display: flex;
  justify-content: center;
}
.page-2 .box2 .cont-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}
.page-2 .box2 .cont-bottom .pic-notice {
  width: 0.293333rem;
  height: 0.293333rem;
  margin-right: 0.08rem;
  margin-top: -0.053333rem;
}
.page-2 .box2 .cont-bottom .notice {
  font-size: 0.32rem;
  color: #70a2eb;
}
.page-2 .box3 .box3-top {
  margin-top: 0.933333rem;
}
.page-2 .box3 .box3-top .p-title {
  margin-bottom: 0.133333rem;
  font-size: 0.373333rem;
  font-weight: bold;
  color: #4d5981;
}
.page-2 .box3 .box3-top .p-line {
  width: 8.386667rem;
  height: 0;
  margin: 0 auto;
  border-top: 1px dashed #8b9ebb;
}
.page-2 .box3 .box3-role {
  display: flex;
  justify-content: space-around;
  height: 6.666667rem;
  padding: 0 0.4rem;
  margin-top: 0.666667rem;
  margin-left: -0.2rem;
}
.page-2 .box3 .box3-role .role-item {
  position: relative;
  width: 1.733333rem;
  height: 5.733333rem;
}
.page-2 .box3 .box3-role .role-item .name {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.56rem;
  padding-top: 0.266667rem;
  color: #ffffff;
}
.page-2 .box3 .box3-role .role-item:nth-child(even) {
  margin-top: 0.8rem;
}
.page-2 .box3 .box3-role .role-item:nth-child(1) {
  background: url(../images/page-24/shui.png) no-repeat center;
  background-size: cover;
}
.page-2 .box3 .box3-role .role-item:nth-child(1) .name {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #0c4982);
}
.page-2 .box3 .box3-role .role-item:nth-child(2) {
  background: url(../images/page-24/feng.png) no-repeat center;
  background-size: cover;
}
.page-2 .box3 .box3-role .role-item:nth-child(2) .name {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #4db57b);
}
.page-2 .box3 .box3-role .role-item:nth-child(3) {
  background: url(../images/page-24/huo.png) no-repeat center;
  background-size: cover;
}
.page-2 .box3 .box3-role .role-item:nth-child(3) .name {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #e85454);
}
.page-2 .box3 .box3-role .role-item:nth-child(4) {
  background: url(../images/page-24/guang.png) no-repeat center;
  background-size: cover;
}
.page-2 .box3 .box3-role .role-item:nth-child(4) .name {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #fda45c);
}
.page-2 .box3 .box3-role .role-item:nth-child(5) {
  background: url(../images/page-24/an.png) no-repeat center;
  background-size: cover;
}
.page-2 .box3 .box3-role .role-item:nth-child(5) .name {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #8966a9);
}
.page-2 .box3 .box3-dog img {
  width: 6.88rem;
  height: 2.506667rem;
}
.page-2 .box-top {
  margin-top: 0.933333rem;
}
.page-2 .box-top .p-title {
  margin-bottom: 0.133333rem;
  font-size: 0.373333rem;
  font-weight: bold;
  color: #4d5981;
}
.page-2 .box-top .p-title span {
  margin: 0 0.106667rem;
  padding: 0.053333rem 0.1rem;
  color: #8f693e;
  background: url(../images/page-25/bottom_4.png) no-repeat center;
  background-size: cover;
}
.page-2 .box-top .p-line {
  width: 8.386667rem;
  height: 0;
  margin: 0 auto;
  border-top: 1px dashed #8b9ebb;
}
.page-2 .box4 .box4-cont {
  display: flex;
  justify-content: space-around;
  margin-top: 0.666667rem;
}
.page-2 .box4 .box4-cont .cont-left {
  position: relative;
  width: 5.013333rem;
  height: 6.653333rem;
  background: url(../images/page-25/role_bg.png) no-repeat center;
  background-size: cover;
}
.page-2 .box4 .box4-cont .cont-left .top-icon {
  position: absolute;
  top: -0.066667rem;
  left: 1.066667rem;
  width: 0.626667rem;
  height: 0.92rem;
}
.page-2 .box4 .box4-cont .cont-left .top-role {
  width: 3.84rem;
  height: 6.16rem;
  margin-top: 0.2rem;
}
.page-2 .box4 .box4-cont .cont-right {
  width: 4.48rem;
}
.page-2 .box4 .box4-cont .cont-right .right-item {
  display: flex;
  align-items: center;
  height: 1.066667rem;
}
.page-2 .box4 .box4-cont .cont-right .right-item .type {
  font-size: 0.4rem;
  font-weight: bold;
  color: #656dab;
}
.page-2 .box4 .box4-cont .cont-right .right-item .name {
  padding: 0.053333rem 0.2rem;
}
.page-2 .box4 .box4-cont .cont-right .right-item:nth-child(1) .name {
  color: #ffffff;
  background: url(../images/page-25/bottom_1.png) no-repeat center;
  background-size: cover;
}
.page-2 .box4 .box4-cont .cont-right .right-item:nth-child(2) .name {
  color: #447e6a;
  background: url(../images/page-25/bottom_2.png) no-repeat center;
  background-size: cover;
}
.page-2 .box4 .box4-cont .cont-right .right-item:nth-child(3) .name {
  color: #576982;
  background: url(../images/page-25/bottom_3.png) no-repeat center;
  background-size: cover;
}
.page-2 .box4 .box4-cont .cont-right .right-item:nth-child(4) .name {
  color: #8f693e;
  background: url(../images/page-25/bottom_4.png) no-repeat center;
  background-size: cover;
}
.page-2 .box4 .box4-cont .cont-right .right-item-dog img {
  width: 4.48rem;
  height: 4.52rem;
  margin-left: -0.6rem;
}
.page-2 .box5 .box5-cont {
  height: 10.4rem;
}
.page-2 .box5 .box5-cont .swiper-container-box5 {
  position: relative;
}
.page-2 .box5 .box5-cont .box5-slide {
  position: relative;
}
.page-2 .box5 .box5-cont .box5-slide .role-info {
  position: absolute;
  top: 0.4rem;
  left: 0.6rem;
  width: 4.5rem;
  text-align: left;
}
.page-2 .box5 .box5-cont .box5-slide .role-info .info {
  display: inline-block;
  text-align: left;
  margin-bottom: 0.293333rem;
  padding: 0.053333rem 0.2rem;
  font-weight: bold;
  color: #8f693e;
  background: url(../images/page-26/bottom_2_2z.png) no-repeat center;
  background-size: cover;
}
.page-2 .box5 .box5-cont .box5-slide .role-img {
  max-width: 90%;
}
.page-2 .box5 .box5-cont .swiper-button-prev,
.page-2 .box5 .box5-cont .swiper-button-next {
  width: 0.466667rem;
  height: 0.866667rem;
}
.page-2 .box5 .box5-cont .swiper-button-prev {
  background: url(../images/page-26/prev.png) no-repeat center;
  background-size: cover;
}
.page-2 .box5 .box5-cont .swiper-button-next {
  background: url(../images/page-26/next.png) no-repeat center;
  background-size: cover;
}
.page-2 .box6 .box6-cont {
  box-sizing: content-box;
  height: 10.4rem;
}
.page-2 .box6 .box6-cont .swiper-container-box6 {
  position: relative;
}
.page-2 .box6 .box6-cont .box6-slide {
  position: relative;
  padding-top: 0.5rem;
  background: url(../images/page-26/page27_bg.png) no-repeat center 0.5rem;
  background-size: 6.88rem 9.08rem;
}
.page-2 .box6 .box6-cont .box6-slide .cont-icon {
  position: absolute;
  top: 0.4rem;
  left: 2.666667rem;
  width: 0.626667rem;
  height: 0.92rem;
}
.page-2 .box6 .box6-cont .box6-slide .cont-thing {
  width: 5.906667rem;
  height: 8.386667rem;
  margin-top: 0.23rem;
}
.page-2 .box6 .box6-cont .box6-slide .cont-text {
  position: relative;
  padding-top: 0.213333rem;
  padding-left: 0.16rem;
  width: 5.906667rem;
  height: 1.493333rem;
  text-align: left;
  margin: -1.493333rem auto 0;
  color: #ffffff;
  background-color: rgba(80, 129, 191, 0.8);
  border-radius: 0 0 0.213333rem 0.213333rem;
}
.page-2 .box6 .box6-cont .box6-slide .cont-text span {
  display: inline-block;
  height: 0.4rem;
  width: 0.08rem;
  margin-right: 0.2rem;
  margin-bottom: -0.06rem;
  background-color: #ffffff;
}
.page-2 .box6 .box6-cont .swiper-button-prev,
.page-2 .box6 .box6-cont .swiper-button-next {
  width: 0.466667rem;
  height: 0.866667rem;
}
.page-2 .box6 .box6-cont .swiper-button-prev {
  background: url(../images/page-26/prev.png) no-repeat center;
  background-size: cover;
}
.page-2 .box6 .box6-cont .swiper-button-next {
  background: url(../images/page-26/next.png) no-repeat center;
  background-size: cover;
}
.page-2 .box7 .box-top .p-line {
  margin-top: 0.3rem;
}
.page-2 .box7 .box7-cont {
  position: relative;
  height: 11.173333rem;
  width: 9.333333rem;
}
.page-2 .box7 .box7-cont .cont-pic {
  position: absolute;
}
.page-2 .box7 .box7-cont .pic1 {
  width: 5.853333rem;
  height: 8.906667rem;
  top: 0.826667rem;
  left: 50%;
  margin-left: -2.9266rem;
  z-index: 6;
}
.page-2 .box7 .box7-cont .pic6 {
  width: 4.453333rem;
  height: 3.253333rem;
  top: 0.2rem;
  left: 0.266667rem;
  z-index: 5;
}
.page-2 .box7 .box7-cont .pic5 {
  width: 3.866667rem;
  height: 3.48rem;
  top: 2.693333rem;
  left: 0.2rem;
  z-index: 4;
}
.page-2 .box7 .box7-cont .pic4 {
  width: 4.373333rem;
  height: 5.48rem;
  top: 5rem;
  left: 0.2rem;
  z-index: 3;
}
.page-2 .box7 .box7-cont .pic3 {
  width: 3.48rem;
  height: 4.8rem;
  top: 0.12rem;
  right: -0.1rem;
  z-index: 2;
}
.page-2 .box7 .box7-cont .pic2 {
  width: 5.146667rem;
  height: 4.92rem;
  top: 5.866667rem;
  right: -0.1rem;
  z-index: 1;
}
.page-2 .box8 .box-top .p-line {
  margin-top: -0.133333rem;
}
.page-2 .box8 .box8-report {
  position: relative;
}
.page-2 .box8 .box8-report .label-bg {
  font-weight: bold;
}
.page-2 .box8 .box8-report .label-bg1 {
  display: inline-block;
  margin: 0.1rem 0;
  font-size: 0.56rem;
  color: #8f693e;
  padding: 0.15rem 0.3rem 0.3rem 0.24rem;
  background: url(../images/page-28/bottom.png) no-repeat center;
  background-size: contain;
}
.page-2 .box8 .box8-report .label-positon {
  position: absolute;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-2 .box8 .box8-report .label-bg2 {
  top: 0.733333rem;
  right: 1.333333rem;
  font-size: 0.56rem;
  color: #ffffff;
  height: 1rem;
  padding: 0 0.7rem 0.1rem;
  background: url(../images/page-28/biaoqian_1.png) no-repeat center;
  background-size: cover;
}
.page-2 .box8 .box8-report .label-bg3 {
  top: 1rem;
  left: 0.5rem;
  font-size: 0.413333rem;
  color: #6f5439;
  height: 0.773333rem;
  padding: 0 0.5rem 0.01rem;
  background: url(../images/page-28/biaoqian_2.png) no-repeat center;
  background-size: cover;
}
.page-2 .box8 .box8-report .label-bg4 {
  top: 3.333333rem;
  right: 0.8rem;
  font-size: 0.413333rem;
  color: #6f5439;
  height: 0.773333rem;
  padding: 0 0.5rem 0.01rem;
  background: url(../images/page-28/biaoqian_2.png) no-repeat center;
  background-size: cover;
}
.page-2 .box8 .box8-report .label-bg5 {
  top: 2.733333rem;
  left: 1.266667rem;
  font-size: 0.386667rem;
  color: #447e6a;
  height: 0.773333rem;
  padding: 0 0.5rem 0.01rem;
  background: url(../images/page-28/biaoqian_3.png) no-repeat center;
  background-size: cover;
}
.page-2 .box8 .box8-report .label-bg6 {
  top: 1.946667rem;
  right: 1.003333rem;
  font-size: 0.293333rem;
  color: #576982;
  height: 0.773333rem;
  padding: 0 0.5rem 0.01rem;
  background: url(../images/page-28/biaoqian_4.png) no-repeat center;
  background-size: cover;
}
.page-2 .box8 .box8-report .label-bg7 {
  top: 4.106667rem;
  left: 0.45rem;
  font-size: 0.293333rem;
  color: #576982;
  height: 0.773333rem;
  padding: 0 0.5rem 0.01rem;
  background: url(../images/page-28/biaoqian_4.png) no-repeat center;
  background-size: cover;
}
.page-2 .box8 .box8-report .report-game {
  width: 3.6rem;
  height: 3.6rem;
  margin-top: 1.2rem;
}
.page-2 .box8 .box8-report .text {
  display: flex;
  justify-content: space-around;
  width: 3.9rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.426667rem;
  font-weight: bold;
  color: #656dab;
}
.page-2 .box8 .box8-report .text .line {
  margin-top: -2px;
  padding: 0 0.2rem;
}
.page-2 .box8 .box8-report .text-line {
  padding: 0.106667rem 0;
  border-top: 1px dashed #8b9ebb;
  border-bottom: 1px dashed #c3c3c3;
}
.page-2 .box8 .box8-report .text-box {
  display: flex;
  align-items: center;
}
.page-2 .box8 .box8-report .text-box .pic-wq {
  width: 0.52rem;
  height: 0.48rem;
}
.page-2 .box8 .box8-report .report-btn {
  margin-top: 0.666667rem;
  padding: 0 0.8rem;
  display: flex;
  justify-content: space-around;
}
.page-2 .box8 .box8-report .report-btn img {
  width: 100%;
  height: 100%;
}
.page-2 .box8 .box8-report .report-btn .btn-view-share {
  width: 3.4rem;
  height: 1.12rem;
}
.page-2 .box8 .box8-report .report-btn .btn-view-collect {
  width: 3.933333rem;
  height: 1.12rem;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-control {
  position: absolute;
  z-index: 9;
  bottom: 1.506667rem;
  left: 50%;
  margin-left: -2.2rem;
  width: 4.4rem;
  height: 1.133333rem;
  background: url(../images/page-2/swiper-control.png) no-repeat center;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
}
.swiper-control .control-left,
.swiper-control .control-right {
  width: 1.026667rem;
  height: 1.026667rem;
}
.swiper-control .control-center {
  display: flex;
  align-items: center;
  font-size: 0.453333rem;
  color: #727d9e;
}
.sy-hide {
  display: none;
}
.sy-dialog {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
}
.sy-dialog .dialog-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.sy-dialog .dialog-content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
}
.sy-dialog .dialog-close {
  position: absolute;
  top: -0.9rem;
  right: 0.6rem;
  width: 0.533333rem;
  height: 0.56rem;
}
.sy-dialog .dialog-close img {
  width: 0.533333rem;
  height: 0.56rem;
}
.content-login {
  width: 8.666667rem;
  height: 6.88rem;
  margin: 0 auto;
  padding: 0.146667rem 0.48rem 0;
  border-radius: 0.173333rem;
  background-color: #ffffff;
}
.login-type1 {
  background: url(../images/login/bg1.png) no-repeat center;
  background-size: contain;
}
.login-type2 {
  background: url(../images/login/bg2.png) no-repeat center;
  background-size: contain;
}
.login-type3 {
  background: url(../images/login/bg3.png) no-repeat center;
  background-size: contain;
}
.login-menu {
  display: flex;
  width: 7.613333rem;
  height: 0.866667rem;
}
.login-menu li {
  width: 2.546667rem;
  height: 0.866667rem;
  text-indent: -99999px;
}
.login-box {
  display: none;
  padding-top: 0.14rem;
}
.login-box .item-input {
  margin-top: 0.306667rem;
}
.login-box .g-input {
  display: inline-block;
  width: 100%;
  height: 0.946667rem;
  padding: 0 0.266667rem;
  box-sizing: border-box;
  background: #abd2ff;
  outline: none;
  font-size: 0.346667rem;
  color: #000000;
  border: none;
  border-radius: 0.133333rem;
}
.login-box .g-input-s {
  width: 4.8rem;
}
.login-box .get-sms {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 2.4rem;
  height: 0.946667rem;
  padding: 0 0.266667rem;
  border-radius: 0.133333rem;
  background: #abd2ff;
  color: #4075BD;
}
.login-box ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #8BBCFF;
  font-size: 0.346667rem;
}
.login-box .login-btn {
  margin-top: 0.306667rem;
  text-align: center;
}
.login-box .login-btn .login-submit img {
  display: inline-block;
  width: 3.146667rem;
  height: 1.093333rem;
}
.login-box .login-bottom {
  position: absolute;
  bottom: 0.2rem;
  width: 7.466667rem;
  display: flex;
  justify-content: space-between;
}
.login-box .login-bottom a {
  font-size: 0.266667rem;
  color: #4075BD;
}
.login-user {
  display: block;
}
.login-phone .item-input {
  margin-top: 0.42rem;
}
/* 绑定角色 */
.bind-role {
  width: 8.706667rem;
  height: 6.133333rem;
  margin: 0 auto;
  background: url(../images/login/bottom.png) no-repeat center;
  background-size: contain;
  position: relative;
}
.bind-role .bind-box {
  width: 5.92rem;
  margin: 0 auto;
  padding-top: 1.466667rem;
}
.bind-role .bind-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.333333rem;
}
.bind-role .bind-group em {
  font-size: 0.373333rem;
  font-weight: bold;
  color: #4976b3;
}
.bind-role .bind-group .bind-select {
  width: 4.72rem;
  height: 0.68rem;
  font-size: 0.32rem;
  color: #8BBCFF;
  line-height: 0.68rem;
  background: url(../images/login/xzt.png) no-repeat center;
  background-size: cover;
  padding-left: 0.16rem;
  box-sizing: border-box;
  border-radius: 0.093333rem;
}
.bind-role .bind-group .bind-select span {
  font-size: 0.32rem;
  color: #fff6;
  color: #ffffff;
  line-height: 0.68rem;
}
.bind-role .btn-comfirm {
  margin-top: 0.533333rem;
}
.bind-role .btn-comfirm img {
  display: inline-block;
  width: 3.146667rem;
  height: 1.093333rem;
}
.bind-btn {
  margin-top: 0.306667rem;
  text-align: center;
}
.bind-btn .bind-submit img {
  display: inline-block;
  width: 3.146667rem;
  height: 1.093333rem;
}
